{% extends 'base.html.twig' %}

{% block title %}Mon Panier - La boutique de Paulo{% endblock %}

{% block content %}
<div class="container">
    <h1>Mon panier</h1>
    {% if cart|length>0 %}
    <table class="table table-striped mt-5">
        <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col"></th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% set total = null %}
            {% for product in cart %}
            <tr>
                <th><img src="/uploads/{{product.product.illustration}}" alt="{{product.product.name}}" height="30px">
                </th>
                <th>{{product.product.name}}</th>
                <td><a href="{{path('decrease_to_cart',{'id':product.product.id})}}"><img src="{{asset('assets/img/minus-sign.png')}}" alt="moins" height="12px" style="background-color:green"></a> {{product.quantity}} 
                    {% if product.quantity < product.product.stockquantity%}
                    <a href="{{path('add_to_cart',{'id':product.product.id})}}"><img src="{{asset('assets/img/plus.png')}}" alt="plus" height="12px" style="background-color:green"></a>
                    {% else %}
                    <small style="color:red">Plus de stock</small> 
                    {% endif %}
                </td>        
                <td>{{(product.product.price/100)|number_format(2,',','.')}} €</td>
                <td>{{((product.product.price * product.quantity)/100)|number_format(2,',','.')}} €</td>

                <td><a href="{{path('delete_to_cart',{'id':product.product.id})}}"><img
                            src="{{asset('assets/img/delete.png')}}" alt="Supprimer mon produit" height="18px"></a></td>

            </tr>
            {% set total = total+(product.product.price*product.quantity) %}
            {% endfor %}
        </tbody>
    </table>
    <div class="validation">
        <div class="validation-items">
            <b>Nombre de produits: {{cart|length}}</b>
            <b>Total de mon panier: {{(total/100)|number_format(2,',','.')}} € </b>
            <a href="{{path('order')}}" class="btn btn-success mt-2">Validez mon panier</a>
        </div>
    </div>
    {% else %}
    <p><b>Votre panier est vide</b></p>
    {% endif %}
</div>

{% endblock %}