{% extends 'base.html.twig' %}

{% block title %}Mon compte-La boutique de Paulo{% endblock %}

{% block content %}
<h1>Mon compte</h1>
Bienvenue {{app.user.firstname}},
<br>
C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.
<hr>
{% if is_granted('ROLE_ADMIN') %}
<a href="{{path('admin')}}">Administration</a><br>
{% endif %}

<a href="{{path('account_password')}}">Modifier mot de passe</a> <br>
<a href="{{path('account_address')}}">Gerer mes adresses</a> <br>
<a href="{{path('account_order')}}">Mes commandes</a>
<hr>
{% endblock %}