{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - La boutique de Paulo{% endblock %}

{% block content %}
  <h1>Modifier mon mot de passe</h1>
  <a href="{{path('account')}}">Retour à mon compte</a><br>
  <hr>
    {% if notification %}
      <div class="alert alert-info" >{{notification}}</div>
    {% endif %}
    {{form(form)}}
  <hr>
{% endblock %}