{% extends 'base.html.twig' %}

{% block title %}Se connecter-La boutique de Paulo{% endblock %}

{% block content %}
<div class="container" style="max-width: 50%;">
    <form method="post">
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    
        {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
        {% endif %}
    
        <h1 class="h3 mb-3 font-weight-normal">Merci de vous connecter</h1>
        <label for="inputEmail"> Votre email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-4"
            placeholder="Votre email" required autofocus>
        <label for="inputPassword">Votre mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control mb-4" placeholder="Votre mot de passe"
            required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    
        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html
    
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
    
        <button class="btn btn-lg btn-primary btn-sm" type="submit">
            Se connecter
        </button>
    </form>
    <p class="text-center mt-2"><a href="{{path('app_forgot_password_request')}}">Mot de passe oublié</a> ?</p>
    <p class="text-center mt-2">Ou souhaiter vous <a href="{{path('register')}}">créer un compte</a> ?</p>

</div>

{% endblock %}