{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement - La boutique de Paulo{% endblock %}

{% block content %}
<h2>Erreur de paiement</h2>
<p>
    <strong>{{order.user.firstname}} {{order.user.lastname}}</strong>, <br/><br/>
    Il semblerai que le paiement de votre commande n° <strong>{{order.reference}}</strong> est échoué.<br/>
    Une confirmation de l'erreur vient d'être envoyée à l'adresse email <strong>{{order.user.email}}</strong>.
</p>
<hr>
<a href="{{path('order')}}" class="btn btn-success">Réessayer le paiement</a>
{% endblock %}