{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}

<h3>Nos produits coup de coeur</h3>
<p>Decouvrez les produits les plus vendus aux clients</p>
<div class="row">
    {% for product in products %}
    <div class="col-md-3">
        {% include "product/single_product.html.twig" %}
    </div>
    {% endfor %}
</div>




<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-5">
        <img src="{{ asset('assets/img/parfum.jpg') }}" class="img-fluid" alt="parfum">
    </div>  
    <div class="col-md-7">
        <h2 class="featurette-heading">Bientôt dans la boutique  <span class="text-muted">Nouvelle gamme de parfum</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Une équipe de professionnel <span class="text-muted">au grand savoir-faire</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
        <img src="{{ asset('assets/img/first.jpg') }}" class="img-fluid" alt="Un savoir-faire ">
    </div>
</div>
<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->
{% endblock %}