{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block content %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container">
        <h1>Réinitialiser votre mot de passe</h1>

        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div>
                <small>
                    Entrer votre adresse email et nous vous envoyons un lien pour choisir
                    un nouveau mot de passe.
                </small>
            </div>
    
            <button class="btn btn-primary mt-4">Reinitialisation mot de passe</button>
        {{ form_end(requestForm) }}
    </div>
   
{% endblock %}