html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: start;
}

main {
    width: 100%;
}

.navbar-item-custom a,
.navbar-item-custom {
    color: white;
    text-decoration: none;
}

.cart-icon {
    height: 20px;
    padding-left: 10px;
}
#cart-count {
    color:white;
}

.product-all {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.products {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 20px;
}

.card {
    width: 275px;
    height:auto;
    margin: 7px;
    display: flex;
    flex-direction: column;
}

.lien,
.lien:hover {
    text-decoration: none;
    color: black;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5%;
}

image {
    max-width: 100%;
    height: auto;
}

.product-image {
    height: 280px;
}

.product-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.product-content h5 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 1px;

}

.product-subtitle {
    font-size: 12px;
    margin: 2px;
}

.product-price {
    font-size: 15px;
    font-weight: bold;
}

.product-show {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.product-show img {
    margin: 45px;
    max-height: 350px;
    width: 33%;
}

.description {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: stretch;
    padding-top: 5%;
}

.validation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.validation-items {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.adresse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-check {
    background-color: #f4f8ff;
    padding: 20px 65px;
    margin-top: 7px;
}

.col-form-label {
    font-weight: bold;
}

.order-summary {
    background-color: #f4f8ff;
    padding: 20px;
    margin-top: 45px;
}

.order-summary-recap {
    background-color: #f4f8ff;
    padding: 20px;
    margin-top: 7px;
}

.footer-custom {
    width: 100%;
    background-color: #343a40;
    position: fixed;
    bottom: 0;
    text-align: center;
    color: white;
    padding-top: 20px;
}

.footer-custom a {
    color: white;
    text-decoration: none;
}