{% extends 'base.html.twig' %}

{% block title %}Nos produits - La boutique de Paulo{% endblock %}

{% block content %}
<h1>Nos Produits</h1>
<div class=" container product-all ">
        {{form(form)}}
    <div class="products">
        {% for product in products %}
            {% include "product/single_product.html.twig" %}
        {% endfor %}
    </div>
</div>
{% endblock %}