{% extends 'base.html.twig' %}

{% block title %}{{product.name}} - La boutique de Paulo{% endblock %}

{% block content %}

<div class="container mb-4">

    <div class="product-show">
       <img src="/uploads/{{product.illustration}}" alt="{{product.name}}" >
        <div class="description">
            <h3>{{product.name}}</h3>
            <h6>{{product.subtitle}}</h6>
            <span class="product-price">{{(product.price/100)|number_format(2,',','.')}} €</span>
                <hr>
                <p>{{product.description}}</p>
                <hr>
               
                <a href="{{path('add_to_cart',{'id':product.id})}}"class="btn btn-primary mt-2  {% if product.stockquantity == 0 %} btn disabled {% endif %}" style="width: 160px;">Ajouter au panier</a>
        </div>
    </div>
</div>
{% endblock %}