<div class="card">
    <a  class="lien {% if product.stockquantity == 0 %} btn disabled {% endif %} " href="{{path('product',{'slug':product.slug})}}">
    <div class="product-item text-center">
        <img src="/uploads/{{product.illustration}}" alt="{{product.name}}" class="product-image">
        <div class="product-content">
            <h5>{{product.name}}</h5>
            <span class="product-subtitle">{{product.subtitle}}</span>
            <span class="product-price">{{(product.price/100)|number_format(2,',','.')}} € </span>
        </div>
    </div></a>
    {% if product.stockquantity == 0 %}
        <small class="text-center" style="color:red;">Stock epuisé</small> 
    {% elseif  product.stockquantity< 20 %}
        <small class="text-center" style="color:orange;">Plus que {{product.stockquantity}} exemplaires </small>
    {% elseif  product.stockquantity >= 20 %}
    <small class="text-center" style="color:green;">En stock </small>
    {% endif %}
</div>
