{% extends 'base.html.twig' %}

{% block content %}
<h1>Inscription</h1>
{% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ message }}
    </div>
{% endfor %}

    <div class="container" style="max-width: 50%;">
        {{form(form)}}
    </div>
{% endblock %}
