{% extends 'base.html.twig' %}

{% block title %}Contact - La boutique de paulo{% endblock %}
   
{% block content %}
<h2>Nous contacter</h2>

{% for message in app.flashes('notice') %}
    <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
        {{ message }}
    </div>
{% endfor %}
<div class="row">
    <div class="col-md-8">{{ form(form) }}</div>
    <div class="col-md-4">
        <strong>La Boutique de Paulo</strong>
        <hr>
        06 06 06 40 50<br/>
        8 rue des catacombes, 56000 Vannes.<br/>
        laboutiquedepaulo@toto.fr<br/>
    </div>
</div>
{% endblock %}
