<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=" La boutique de Paulo">
    <title>{% block title %}La boutique de Paulo{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{asset("assets/css/bootstrap.min.css")}}" rel="stylesheet">
    <link href="{{asset("assets/css/boutiquedepaulo.css")}}" rel="stylesheet">
    {% block javascript %}{% endblock %}

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{asset("assets/css/carousel.css")}}" rel="stylesheet">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="{{path('home')}}">La boutique de Paulo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('products')}}">Nos produits</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Qui sommes nous?</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('contact')}}">Contact</a>
                    </li>
                </ul>
                <div class="navbar-item-custom">
                    {% if app.user %}
                    <a href="{{path('account')}}">Mon compte<small>({{app.user.firstname}})</small></a> | <a
                        href="{{path('app_logout')}}">Deconnexion</a>
                    {% else %}
                    <a href="{{path('app_login')}}">Connexion</a> | <a href="{{path('register')}}">Inscription</a>
                    {% endif %}

                </div>
                <a href="{{path('cart')}}"><img src="{{asset('assets/img/shopping-cart.png')}}" class="cart-icon"
                        alt="Mon panier"></a>
                <span id="cart-count">{{cart|length}}</span>
               
            </div>
        </nav>
    </header>

    <main role="main">
        {% if block("carousel") is defined %}
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for key,header in headers %}
                    <li data-target="#myCarousel" data-slide-to="{{ key }}" {% if key == 0 %}class="active"{% endif %}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for key,header in headers %}
                <div class="carousel-item {% if key == 0 %}active{% endif %}" style="background: url('/uploads/{{ header.illustration }}');background-size:cover;">
                    <div class="container">
                        <div class="carousel-caption text-left">
                            <h1>{{ header.title }}</h1>
                            <p>{{ header.content }}</p>
                            <p><a class="btn btn-lg btn-info" href="{{ header.btnUrl }}" role="button">{{ header.btnLabel }}</a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        {% endif %}

                <!-- Marketing messaging and featurettes
    ================================================== -->
                <!-- Wrap the rest of the page in another container to center all the content. -->

                <div class="container marketing {% if block("carousel") is not defined %}mt-4{% endif %}">

                    {% block content %}
                    {% endblock %}
                </div><!-- /.container -->
                
                <!-- FOOTER -->
                <footer class="footer-custom">
                    <p>2021 La boutique de Paulo &middot; <a href="#">Mentions legales</a></p>
                </footer>
    </main>
   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="{{asset("assets/js/bootstrap.bundle.js")}}"></script>
</body>
{% block script %}
{% endblock %}

</html>