{% extends 'base.html.twig' %}

{% block title %}Confirmation de ma commande - La boutique de Paulo{% endblock %}

{% block content %}
<h2>Confirmation de la commande</h2>
<p>
    <strong>{{order.user.firstname}} {{order.user.lastname}}</strong>, <br/><br/>
    Nous vous remercions pour votre commande n° <strong>{{order.reference}}</strong>.<br/>
    Une confirmation de la commande vient d'être envoyée à l'adresse email <strong>{{order.user.email}}</strong>.
    <hr>
    Votre commande sera livrée par <strong>{{order.carrierName}}</strong> à l'adresse suivante: <br/><br/>
    <strong>{{order.delivery|raw}}</strong>
    <hr>
    Pour suivre votre commande, rendez-vous sur votre <a href="{{path('account_order')}}">compte</a>
</p>
{% endblock %}
