{% extends 'base.html.twig' %}

{% block javascript %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block title %}Paiement de la commande - La boutique de Paulo{% endblock %}

{% block content %}
    <h2>Recapitulatif de ma commande</h2>
    <p>Verifier vos informations de commande avant le paiement</p><hr>
    <div class="row">
        <div class="col-md-6">
            <strong>Mon Adresse de livraison</strong><br/>
            <div class="form-check">
                {{delivery|raw}}
            </div>
            <hr>
            <strong>Mon Transporteur</strong><br/>
            <div class="form-check">
                {{carrier.name}}<br/>
                {{carrier.description}}<br/>
                {{(carrier.price/100)|number_format(2,',','.')}} €
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <b>Ma commande</b>
            </div>
                <div class="order-summary-recap">
                    {% set total = null %}
                    {% for key,product in cart %}
                    <div class="row {% if key>0 %}mt-2{% endif %}">
                        <div class="col-2">
                            <img src="/uploads/{{product.product.illustration}}" alt="{{product.product.name}}" height="30px">
                        </div>
                        <div class="col-8 my-auto">
                            {{product.product.name}}<br/>
                            <small>
                                {{product.product.subtitle}}
                                <br/>
                                x {{product.quantity}}
                            </small>
                        </div>
                        <div class="col-2 my-auto">
                            {{(product.product.price/100)|number_format(2,',','.')}} € 
                        </div>
                    </div>
                    {% set total = total+(product.product.price*product.quantity) %}
                    {% endfor %}

                </div>
                <hr>
                <strong>Sous-Total : {{(total/100)|number_format(2,',','.')}} €</strong><br/>
                <strong>Livraison : {{((carrier.price)/100)|number_format(2,',','.')}} €</strong>
                <hr>
                <strong>Total : {{((total/100) + ((carrier.price)/100))|number_format(2,',','.')}} €</strong>
                <a class="btn btn-success btn-block mt-2" id="checkout-button">Payer</a>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
    var stripe = Stripe("pk_test_51Ig8j7Iva8fpdUl1quJIsz3Z4TvGSutXzo4uapLH2HIfQJJyJHqqqFRfQ1O5kfXylMORoF0Uk7JjPPktMTwajoWU00HcINkGlS");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
      fetch("/commande/create-session/{{reference}}", {
        method: "POST",
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {

          if(session.error=='order')
          {
            window.location.replace("{{path('order')}}");
          }
          else
          {
            return stripe.redirectToCheckout({ sessionId: session.id });
          }
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
  </script>
{% endblock %}
