{% extends 'base.html.twig' %}

{% block title %}Erreur - La boutique de Paulo{% endblock %}

{% block content %}
    <div class="container" style="max-width: 50%;">
        <img src="{{asset('assets/img/2704133.jpg')}}"  class="img-fluid"alt="erreur-404"><br/><br/>
        <a href="{{path('home')}}" class="btn btn-info mt-2">Retour sur le site</a>
    </div>
{% endblock %}