<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% apply inline_css(source('@styles/bootstrap.min.css')) %}
    <div class="container">
        <h2>Confirmation de la commande</h2>
        <p><br />
            Bonjour {{order.user.firstname}} ,<br />
            Votre commande <strong>{{order.reference}}</strong> est validée par nos services. <br />

            <strong>Commande passée le :</strong> {{ order.createdAt|date('d/m/Y') }}<br />
            <strong>Référence de ma commande :</strong> <small>{{ order.reference }}</small><br />
            <strong>Transporteur choisi :</strong> {{ order.carriername }} <br /><br />
            <strong>Détails:</strong>

            <table class="table table-striped mt-4">
                <thead>
                    <tr>
                        <th scope="col">Produit</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix unitaire</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in order.orderDetails %}
                    <tr>
                        <td>{{ product.product }}</td>
                        <td>x{{ product.quantity }}</td>
                        <td>{{ (product.price / 100)|number_format(2, ',', '.') }} €</td>
                        <td>{{ (product.total / 100)|number_format(2, ',', '.') }} €</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="text-right">
                <strong>Sous-total :</strong> {{ (order.getTotal / 100)|number_format(2, ',', '.') }} €<br />
                <strong>Livraison :</strong> {{ (order.carrierprice / 100)|number_format(2, ',', '.') }} €<br />
                <strong>Total : </strong> {{ ((order.carrierPrice + order.getTotal) / 100)|number_format(2, ',', '.') }} €
            </div>

            <hr>
            <strong>Adresse de livraison:</strong><br />{{order.delivery|raw}}
        </p>
    </div>

    {% endapply %}
</body>

</html>