<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% apply inline_css(source('@styles/bootstrap.min.css')) %}
    <div class="container">
        <h2>Livraison de la commande</h2>
        <p><br />
            Bonjour {{order.user.firstname}} ,<br />
            Votre commande <strong>{{order.reference}}</strong> est en cours de livraison. <br />
            <strong>Commande passée le :</strong> {{ order.createdAt|date('d/m/Y') }}<br />
            <strong>Référence de ma commande :</strong> <small>{{ order.reference }}</small><br />
            <strong>Transporteur choisi :</strong> {{ order.carriername }} <br /><br />
            <strong>Adresse de livraison:</strong><br />{{order.delivery|raw}}
        </p>
    </div>
    {% endapply %}
</body>

</html>