<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome- Email content</title>
</head>

<body>
    {% apply inline_css(source('@styles/bootstrap.min.css')) %}
    <div class="container">
        <p> Bonjour <strong>{{user}}</strong>, <br />
            Votre inscription s'est correctement déroulée.<br />Vous pouvez dès à présent vous connecter sur le site.
            <br />
        </p>
        <a href="{{url('app_login')}}" class="btn btn-primary mt-2">Connexion</a>
    </div>
    {% endapply %}
</body>

</html>